{% extends "layout.html" %}

{% block head %}

    <link rel="stylesheet" href="../static/head.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/register-and-login.css">  
    <!--<link rel="stylesheet" href="../static/connexion.css">-->

{% endblock %}

{% block body %}

    <header class="main-header">
        <span class="wordle-title">WORDLE</span>
        <nav>
            <ul>
                <li><a class="navbar-link" href="/">Accueil</a></li>
            </ul>
        </nav>
    </header>

    <div class="register-and-login-form">

        <div class="register-and-login-text-block">
            <p class="register-and-login-text">S'inscrire à WORDLE</p>
        </div>

        <div class="register-and-login-error">
            {% if message %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
        </div>

        <form action="/register" method="POST">

            <div class="flex-item">
                <label for="username">Pseudo :</label><br>
                <input class="register-and-login-form-input" type="text" id="username" name="username" placeholder="Pseudo" autocomplete="off" autofocus required minlength="3" maxlength="20">
            </div>

            <div class="flex-item">
                <label for="pass">Mot de passe :</label><br>
                <input class="register-and-login-form-input" type="password" id="pass" name="pass" placeholder="Mot de passe" autocomplete="off" required minlength="8" maxlength="20">
            </div>

            <div class="flex-item">
                <label for="confirmPass">Confirmer mot de passe :</label><br>
                <input class="register-and-login-form-input" type="password" id="confirmPass" name="confirmPass" placeholder="Confirmer mot de passe" autocomplete="off" required minlength="8" maxlength="20">
            </div>

            <div class="flex-item">
                <input class="register-and-login-form-button" id="register-form-button" type="submit" value="S'inscrire !">
            </div>

        </form>

    </div>

{% endblock %}